* {
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Helvetica';
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 1fr 50px;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    gap: 5px;
}

nav, footer {
    grid-column: 1 / 3;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    background-color: lightblue;
    font-family: 'Faster One', cursive;
    font-size: 40px;
    color: white;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightgray;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 2fr 2fr;
    padding: 50px;
}

#locationName {
    grid-column: 1 / 4;
    font-size: 30px;
}

#currentConditions {
    grid-column: 1 / 4;
    font-size: 25px;
}

section .title {
    font-size: 15px;
}

#currentDegree {
    font-size: 60px;
}

footer {
    display: flex;
    background-color: lightgoldenrodyellow;
}

#title {
    
}

#currentLocation {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}

nav > img {
    padding: 0 30px 0 0;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        font-family: 'Helvetica';
        font-family: 'Raleway', sans-serif;
        gap: 5px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px 60px 2fr 2fr;
        padding: 30px;
    }

    aside > h1 {
        font-size: 20px;
    }

    #locationName {
        grid-column: 1 / 4;
        font-size: 30px;
    }

    nav {
        font-size: 20px;
    }

    nav > img {
        padding: 0 10px 0 0;
        width: 40px;
    }

}